<p id="notice"><%= notice %></p>

<div class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-half">
        <h1 class="title is-size-1">My Events</h1>
          <div class="box bg-c">
            <article class="media">
              <div class="media-content">
                <div class="content">
                <% if !current_user %>
                  <h4>Host</h4>
                  <p class="has-text-left"><strong><%= @event.host.name %></strong></p>
                <% end %>
                  <h5>Event Description</h5>
                  <p><%= @event.description %></p><br />
                  <div class="columns">
                    <div class="column is-half">
                      <h6 class="has-text-left">Date</h6>
                      <small><%= @event.date %></small>
                    </div>
                    <div class="column is-half">
                      <h6 class="has-text-right">Location</h6>
                      <p class="has-text-right"><%= @event.location %></p>
                      <%= link_to 'Invite Others', attend_path%>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>


          <div class="panel gw">
            <p class="panel-heading">Attendees</p>
            
            <ul class="panel-block">
              <% @attendees.each do | attendee | %>
                <li><%= attendee.name %></li>
              <% end %>
            </ul>
          </div>

          <%= link_to 'Back', root_path %>
      </div>
    </div>
  </div>
</div>

